      *{
        margin:0px;
        padding:0px;
        box-sizing: border-box;
      }
      #tela{
        border:1px solid black;
        height:300px;
        width:100%;
        position:relative;
        margin:10px;
        overflow:hidden;
        border-bottom:5px solid green;
        background-image: linear-gradient(to bottom, rgb(0,0,255),rgb(230, 242, 255));
        max-width:700px;
      }
      #nuvem{
        height:110px;
        width:300px;
        margin-top:30px;
        position:absolute;
        animation:nuvem 17s infinite linear;
      }
      #cano{
        position: absolute;
        bottom:0px;
        height:50px;
        width:40px;
        right:82%;
        animation:cano 4s infinite linear;
      }
      #mario{
        height:50px;
        width:30px;
        position:absolute;
        bottom:0px;
      }
      #marioGO{
        height:50px;
        width:30px;
        position:absolute;
        display:none;
      }
      #container{
       display:none;
       position:relative;
       width: 50%;
       height:100px;
       left:50%;
       top:50%;
       transform:translate(-50%,-50%);
       flex-direction:column;
       justify-content:space-between;
       background-image: linear-gradient(to bottom, rgb(0,0,255),rgb(230, 242, 255));
      }
      .pulo{
        animation:pulo 1000ms 1 linear;
      }
      .align{
        text-align: center;
      }
      @Keyframes cano{
        0%{
          right:-40px;
        }
        100%{
          right:100%;
        }
      }
      @keyframes pulo {
        0%{
          bottom:0px;
        }
        40%{
          bottom:90px;
        }
        50%{
          bottom:90px;
        }
        100%{
          bottom:0px;
        }
      }
      @keyframes nuvem {
        0%{
          right:-300px;
        }
        100%{
          right:100%;
        }
      }